.TradeIn {
	margin-bottom: 100px;

	.Content {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;

		@media (max-width: 1250px) {
			flex-direction: column;
		}

		.Left {
			width: 600px;
			height: 500px;
			max-width: 100%;
			background: #E0E0E0;
			border-radius: 20px;
			text-align: center;

			.Texts {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				height: 100%;

				.Text {
					margin-bottom: 50px;

					.Title {
						font-size: 36pt;
						margin-bottom: 15px;

						@media (max-width: 450px) {
							font-size: 30pt;
						}
					}

					.Info {
						font-size: 18pt;
						color: #2E3549;
						max-width: 350px;
						text-align: left;

						@media (max-width: 450px) {
							font-size: 15pt;
						}
					}
				}

				.Form {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
				}
			}
		}

		.Right {
			max-width: 100%;
			display: flex;
			align-items: center;

			.Img {
				max-width: 100%;
				height: auto;
				transform: translateX(-50px);
				border-radius: 20px;

				@media (max-width: 1250px) {
					transform: translateX(0px);
				}
			}
		}
	}
}